.title{
    text-align: center;
    margin-bottom: 16px;
    color: var(--clr-primary);
}
.box{
    border: 1px solid;
    padding: 16px;
    background-color: var(--bg-color);
    border-radius: 16px;
    box-shadow: 5px 5px 600px 100px var(--clr-light-black);
}