.box__product-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.product-list__note{
    width: 80%;
    color: var(--color-primary);
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid yellow;
}

.product-list__note_bg-dark{
    background-color: var(--color-darker);
}

.note__count-products{
    background-color: yellow;
    color: var(--color-secondary);
    font-weight: 700;
    border-radius: 6px;
    padding: 6px;
    margin-right: 16px;
}

.note__product-name{
    font-size: var(--font-size);
}