:root{
    --color-primary: #ffffff;
    --color-secondary: #000000;
    --color-dark: #131618;
    --color-darker: #2a2a2a;
    --color-error: #FF0000FF;
    --color-warn: #FFFF00FF;
    --font-size:18px;
}